div.modal.fade(id="desviaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="exampleModalLabel") Desirability & Viability Calculator
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form(method='post', action='/calcs/add/desvias')
          div.form-group
            label.col-form-label Title (Company name)
            input.form-control(type="text" name="title")
          div.form-group
            label.col-form-label Problem Type
              select.form-control(name="problem")
                option Select an option
                option Sprint
                option H4D
          div.form-group
            label.col-form-label(for="message-text") Notes
            textarea.form-control(id="message-text" name="notes")
          hr
          div.form-group
            h5 Viability (mission budget/cost, achievement/impact factor)
            hr
            h6 Key Resources
            label.col-form-label 1. Does the problem owner have authority over problem scope? 
              select.form-control(name="q1")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 2. Does the problem owner have subject knowledge? 
              select.form-control(name="q2")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 3. Does problem owner have a relevant background?
              select.form-control(name="q3")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 4. How much time does the problem owner have left in their current role? (Months)
              select.form-control(name="q4")
                option Select an option
                option 6 or Less
                option Between 6 and 12
                option Between 12 and 24
                option 24+
          div.form-group
            label.col-form-label 5. Is the success of this project directly tied to the performance of the problem owners job? 
              select.form-control(name="q5")
                option Select an option
                option Yes
                option No
            hr
            h6 Buy-in Support      
          div.form-group
            label.col-form-label 6. Has a senior leader been identified? 
              select.form-control(name="q6")
                option Select an option
                option Yes
                option No      
          div.form-group
            label.col-form-label 7. Does a senior leader believe this is a problem worth solving?  
              select.form-control(name="q7")
                option Select an option
                option Yes
                option No                       
          div.form-group
            label.col-form-label 8. How much time does she/he have left in their current role?   
              select.form-control(name="q8")
                option Select an option
                option 6 or Less
                option Between 6 and 12
                option Between 12 and 24
                option 24+     
          div.form-group
            label.col-form-label 9. Does the senior leader have a significant amount of authority in the organization (not just one or two levels above problem owner)?
              select.form-control(name="q9")
                option Select an option
                option Yes
                option No
            hr         
            h6 Critical for Organization     
          div.form-group
            label.col-form-label 10. Is the success of this project directly related to a strategic priority?  
              select.form-control(name="q10")
                option Select an option
                option Yes
                option No       
          div.form-group
            label.col-form-label 11. Is this project an agency priority?   
              select.form-control(name="q11")
                option Select an option
                option Yes
                option No        
          div.form-group
            label.col-form-label 12. Is funding currently available or planned for this project?
              select.form-control(name="q12")
                option Select an option
                option Yes
                option No
            hr
            h5 Desirability (value proposition, buy in-support, beneficiary, deployment)
            hr
            h6 Beneficiary                
          div.form-group
            label.col-form-label 13. Have you identified a beneficiary?  
              select.form-control(name="q13")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 14. Do you have direct access to a beneficiary?  
              select.form-control(name="q14")
                option Select an option
                option Yes
                option Not Directly
                option No
            hr
            h6 Basic Need
          div.form-group
            label.col-form-label 15. Has the problem owner identified a specific need? 
              select.form-control(name="q15")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 16. Does this problem have an inspiring use-case?  
              select.form-control(name="q16")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 17. Are there actually many problems within this individual problem?
              select.form-control(name="q17")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 18. Is there ongoing research into this problem? 
              select.form-control(name="q18")
                option Select an option
                option Yes
                option No                
          div.form-group
            label.col-form-label 19. Are there similar efforts within your organization to solve this problem?
              select.form-control(name="q19")
                option Select an option
                option Yes
                option Not Directly
                option No                
          div.form-group
            label.col-form-label 20. Have there been past attempts to solve the problem?
              select.form-control(name="q20")
                option Select an option
                option Yes, with substantial learnings now applied 
                option Yes, but learning hasn't been applied
                option No
            hr                
            h6 Desired Outcome
          div.form-group
            label.col-form-label 21. If they came up with a solution would you be able to implement it? 
              select.form-control(name="q21")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 22. Does the organization have the ability to run tests?  
              select.form-control(name="q22")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 23. Is a desired outcome defined? 
              select.form-control(name="q23")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 24. Is this an incremental change or a disruptive change? (NOTES: disruptive -- 30% of being adopted, 70% impact (vice versa) we want to reward disruptive change) 
              select.form-control(name="q24")
                option Select an option
                option Disruptive
                option Incremental
            hr             
          div.modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary( type='submit') Calculate &amp; Save! 
