div.modal.fade(id="feaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="exampleModalLabel") Feasibility Calculator
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form(method='post', action='/calcs/add/fease')
          div.form-group
            label.col-form-label Title (Company name)
            input.form-control(type="text" name="title")
          div.form-group
            label.col-form-label Problem Type
              select.form-control(name="problem")
                option Select an option
                option Sprint
                option H4D
          div.form-group
            label.col-form-label(for="message-text") Notes
            textarea.form-control(id="message-text" name="notes")
          hr
          // start unique questions here!!  
          div.form-group
            h5 Feasibility (Technical Vetters) 
            hr
            h6 Key Activity
            label.col-form-label 1. Was this written with a solution in mind?
              select.form-control(name="q1")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 2. Within 10 minutes can you brainstorm at least 2 different potential routes towards a useful solution?  
              select.form-control(name="q2")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 3. Is there a well defined scope?
              select.form-control(name="q3")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 4. Can a MVP be conceptualized?
              select.form-control(name="q4")
                option Select an option
                option Yes
                option No
          div.form-group
            label.col-form-label 5. Could there be tangible progress made in 3 months?  
              select.form-control(name="q5")
                option Select an option
                option Yes
                option No    
          div.form-group
            label.col-form-label 6. Can this problem be broken down into concrete steps that are more digestible?  
              select.form-control(name="q6")
                option Select an option
                option Yes
                option No      
            hr         
            h6 If a H4D University (Leave blank if not a university)                              
          div.form-group
            label.col-form-label 7. Would a university team have access to the resources to tackle such a problem?   
              select.form-control(name="q7")
                option Select an option
                option Yes
                option No                
            hr        
            h6 Technical Questions (Leave blank if non-technical)        
          div.form-group
            label.col-form-label 8. Compatible with current system?   
              select.form-control(name="q8")
                option Select an option
                option Yes
                option No   
          div.form-group
            label.col-form-label 9. Adaptable to classified enviornment? 
              select.form-control(name="q9")
                option Select an option
                option Yes
                option No   
          div.form-group
            label.col-form-label 10. Technical readiness: 
              select.form-control(name="q10")
                option Select an option
                option Existing GOTS options can solve the problem 
                option Existing COTS options can solve the problem
                option Existing startup options may solve the problem…No previous government clients
                option Existing startup options may solve the problem…No previous enterprise clients
                option Existing startup options may solve the problem…No public performance data
                option Exists in DARPA/I-ARPA projects...Contact made with PM 
                option Exists in DARPA/I-ARPA projects...Contact not made with PM
                option Only exists in scientific literature...Contact made with PI 
                option Only exists in scientific literature...Contact not made with PI    
            hr             
          div.modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary( type='submit') Calculate &amp; Save! 
