div.modal.fade(id="viaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="exampleModalLabel") Viability Calculator
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="recipient-name") Title (Company name)
            input.form-control(type="text" id="recipient-name")
          div.form-group
            label.col-form-label(for="message-text") Message:
            textarea.form-control(id="message-text")
      div.modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary(type="button") Calculate &amp; Save! 
